body {
    color: rgb(255, 255, 255);
    background: rgb(126, 82, 53);
    margin: -14px;
    text-align: center;
    font-family: "Hedvig Letters Serif", serif;
    font-style: normal;
}

header{
    background-color: rgb(95, 64, 43);
    text-align: center;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

h1{
    font-size: 20px;
}

p{
    font-size: 12px;
}